QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=
EMBEDDING_MODEL=intfloat/e5-base-v2
EMBEDDING_DEVICE=cuda
COLLECTION_NAME=grepify_finance

# LLM
GROQ_API_KEY=
GROQ_MODEL=llama-3.3-70b-versatile

# Go API server
PORT=8000
SIDECAR_URL=http://localhost:8001
